@import url("https://fonts.googleapis.com/css?family=Oswald");

* {
  overflow: hidden;
}

html {
  overflow: scroll;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f5f6;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body.hero {
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-image: url("img/background.jpg");
  background-size: cover;
}

header {
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.logo-car {
  width: 180px;
  padding-left: 100px;
}

div.header-nav {
  display: flex;
  min-width: 600px;
  flex-flow: row-reverse;
  margin-right: 100px;
}

footer {
  width: 100%;
  height: 110px;
  background-color: white;

  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.wrapper {
  min-height: calc(100vh - 10px);
}

.nav {
  text-transform: uppercase;
  font-size: 14px;
  padding: 30px;
  cursor: pointer;
}

.white-text {
  margin-bottom: 10px;
}
.contact-text {
  margin-left: 32px;
}

.social {
  display: flex;
  justify-content: space-between;
}
.nav:active,
.nav:hover,
.active,
.yellow-text {
  color: #ffda42;
}

section {
  margin: 40px 50px;
}

section.hero {
  height: 100vw;
  display: flex;
  justify-content: center;
}

div.modal {
  text-align: center;
  max-width: 400px;
  max-height: 400px;
  margin-top: 70px;
  background-color: white;
  padding: 24px 24px 48px;
}

button.basic,
button {
  box-shadow: none;
    transition: All 0.5s ease;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-top: 20px;
  height: 48px;
  width: 304px;
  font-weight: 700;
  font-size: 13px;
  border-radius: 3px;

  outline: none;
  cursor: pointer;
}

button.small {
  margin-top: 20px;
  height: 45px;
  width: 80%;
  max-width: 170px;
  font-weight: 700;
  font-size: 13px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  outline: none;
  cursor: pointer;
}


button.new-booking {
  width: 290px;
  font-size: 13 px;
  margin: 0 auto;
}

button.moreInfo {
  color: #ffda42;
  border: none;
  margin-top: 20px;
  font-weight: 700;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  display: contents;
}
button.continue {
  margin-top: 30px !important;
  width: 290px;
}

button.facebook-button {
  background-color: #3c5a99;
  color: white;
}

button.google-button {
  border: 1px solid #99999999;
  margin-bottom: 35px;
}

img.logo {
  width: 30px;
}

img.google-logo {
  margin-right: 3px;
}

.modal-inner {
  width: 100%;
}

h4 {
  text-align: center;
  margin: 20px 0;
}

.reservationBox {
  padding-bottom: 25px !important;
  margin-bottom: 20px;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  border: 1px solid #ffda42;
}

.contentBox {
  width: 100%;
  height: 100%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.filter {
  background: #fff;
  padding: 20px;
}

h4:before,
h4:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h4:before {
  right: 0.5em;
  margin-left: -50%;
}

h4:after {
  left: 0.5em;
  margin-right: -50%;
}

div.form {
  display: flex;
  flex-direction: column;
}

label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
}

p.login {
  margin-right: 37px;
}

label.login {
  font-size: 13px;
  font-weight: bold;
}

input {
  font-size: 16px;
  margin-bottom: 17px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: 1px solid;
  padding: 0.47058824rem 0.70588235rem;
  border-color: #858585 #c2c2c2 #c2c2c2;
  background: #fff;

  line-height: 23px;
  cursor: text;
  outline: none;
}

button.yellow {
  margin-top: 15px;
  background: #ffda42;
  transition: all 250ms;
  border: none;
}



.divider {
  margin-bottom: 12px;
}

h1.title {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 300;
}

p.subtitle {
  font-weight: 100;
  margin-bottom: 20px;
}
p.thin {
  font-weight: 100;
  margin-bottom: 20px;
}

div.date-time-form {
  display: flex;
}



input.date {
  font-size: 16px;
  margin-top: 10px;
  width: 200px;
  text-indent: 17px;
  background-image: url(img/calendar-icon.png);
  background-repeat: no-repeat;
  background-position: 7px 7px;
}

input.time {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 20px;
  width: 150px;
  text-indent: 17px;
  background-image: url(img/time-icon.png);
  background-repeat: no-repeat;
  background-position: 7px 7px;
}

a {
  color: black;
  text-decoration: none;
}

.location {
  margin-top: 40px;
  display: flex;
  margin-bottom: 50px;
}

div.select {
  display: grid;
  margin-right: 50px;
}

select {
  -webkit-appearance: none;
  width: 300px;
  text-indent: 19px;
  background-image: url(img/location.png);
  background-repeat: no-repeat;
  background-position: 7px 5px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  border: 1px solid;
  padding: 0.47058824rem 0.70588235rem;
  border-color: #858585 #c2c2c2 #c2c2c2;
  background-color: white;
  font-size: 16px;
  line-height: 23px;
  cursor: text;
  outline: none;
}

.bookingInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 20px;
}
.bookingInfoDisplay {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h5 {
  color: #616161;
}
h5.confirm-title {
  font-size: 14px;
}

.carBox {
  background-color: #fff;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 200px;
}
.carBoximg {
  width: 100%;
  height: auto;
}
.carInfoImg {
  width: 100%;
}

footer.contact-us {
  display: flex;
  justify-content: space-around;
}
.select {
  margin-top: 0px;
}

img.contact-logo {
  height: 20px;
  margin-right: 10px;
}
.InfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.car {
  background-color: #fff;
  padding: 3%;
}
.description {
  padding-top: 0px;
}
div.box {
  background: white;
  display: flex;
  justify-content: space-between;
}
img.car-img {
  padding-top: 40px;
  width: 180px;
}

div.confirmation-box {
  padding-bottom: 5px;

  display: flex;
  justify-content: space-evenly;
}
.box-left {
  background: white;
  padding-top: 30px;
  min-width: 70%;
}
.box-right {
  padding-top: 60px;
  background: white;
  min-width: 20%;
}
.payment-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  padding: 40px;

}
@media (max-width: 600px) {
  .payment-overview {
    display: none;
  }
}
.payment-overview {
  border: 1px solid #ffda42;
  width: 23%;
  padding-top: 40px;
  padding-bottom: 30px;
}
.payment-form {
  widows: 35%;
  display: grid;
}
.payment-p {
  padding-bottom: 10px;
  font-size: 14px;
}
.expiration {
  width: 100px;
}
.cvv {
  width: 60px;
}
.middle {
  margin: 0 auto;
}
.form-item {
  display: inline-grid;
}
.specs-right {
  padding-left: 40px;
}
div.inner-box {
  display: flex;
}
h5 {
  font-size: 16px;
  padding-bottom: 10px;
}

.confirm {
  margin-bottom: 5px;
  padding-left: 30px;
}
.icon {
  margin-right: 10px;
}
div.confirm-content {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
img.cart {
  padding-left: 35px;
  padding-right: 10px;
  width: 25px;
}
.loc-icon {
  width: 20px;
}
.specificationss {
  margin-top: 20px;
  margin-bottom: 20px;
}
div.specification-car {
  display: inline-flex;
}
.specification-car p {
  margin-top: 20px;
}
.car-box {
  padding-top: 24px;
}
.specification {
  padding-top: 65px;
}
.price-overview {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
}

p.price {
  padding-top: 10px;
}
.up {
  display: flex;
  justify-content: space-evenly;
}
.bottom {
  text-align: center;
  padding-bottom: 25px;
  padding-left: 25px;
}
.specs {
  margin-left: 5px;
  margin-right: 25px;
}

.small {
  font-size: 13px;
}
.total {
  padding-right: 20px;
}
hr {
  width: 75%;
}

img.contact-logo {
  height: 26px;
  margin-right: 7px;
}
p.descriptionText {
  text-align: justify;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  margin-top: 20px;
}
.priceBox {
  background-color: #f4f5f6;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 15px;
  max-width: 200px;
}
.flexTemplate {
  display: flex;
  justify-content: space-around;
}
.carInfoRightContainer {
  padding: 5%;
}
.gridTemplate {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checked {
  color: #ffda42;
}

.stars {
  margin-top: 20%;
  margin-bottom: 5%;
}
.extras {
  background-color: #fff;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.extrasContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.extrasImg {
  width: 30%;
  margin: 20px;
}
.extraBox {
  border-radius: 3px;
  text-align: center;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.car {
  background-color: #fff;
}
.centeredBox {
  background-color: #fff;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}
button.select {
  margin: 0;
}
.congrats {
  text-align: center;
  margin-top: 10px;
  line-height: 40px;
  margin-bottom: 0px;
}

@media screen and (min-width: 900px) {
  .absolute {
    position: absolute;
  }
  #mobile-menu {
    display: none !important;
  }
  div.mobile-footer {
    display: none;
  }
}
/*---------------------------------------------------------------------- MOBILE */

@media screen and (max-width: 480px) {
  section {
    margin: 50px 20px;
  }
  .gridTemplate {
    grid-template-columns: 1fr;
  }
  .flexTemplate {
    display: block;
  }
  .InfoContainer {
    grid-template-columns: 1fr;
  }
  .specificationss {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .priceBox {
    margin: 10px;
  }
  button.select {
    margin-top: 15px;
  }
  div.extrasContainer {
    grid-template-columns: 1fr;
  }
  .extras {
    margin: 0px;
  }
  .extraBox {
    margin: 0px;
  }
  .centeredBox {
    display: block;
    text-align: center;
  }
  p.subtitle {
    font-size: 15px;
  }
  .congrats {
    line-height: 30px;
  }
  div.confirmation-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/*--------------------------------------------------------------Tablet */
@media (max-width: 900px) {
  .social-div {
    display: none;
  }

  .contentBox {
    grid-template-columns: 1fr;
  }
  .carBox {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    grid-template-columns: 1fr;
  }

  header {
    display: none !important;
  }

  .sidenav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    /* Black*/
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.2s;
    text-align: center;
  }

  .sidenav a:hover {
    color: #ffda42;
  }

  .nav-links {
    margin-top: 150px;
  }

  .hidden {
    display: none;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    padding: 10px 25px;
  }

  #openNav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 25px;
    font-size: 25px;
    z-index: 1;
  }
  a.active {
    color: #ffda42;
  }
  div.confirm-content {
    display: block;
  }

  .extrasContainer {
    grid-template-columns: 1fr 1fr;
  }
  .extraBox {
    margin-top: 20px;
  }
  p.subtitle {
    margin-bottom: 0px;
  }
  footer.contact-us {
    display: block;
  }
  div.phone,
  div.e-mail {
    display: none;
  }
  div.mobile-footer {
    display: inline-flex;
    align-items: baseline;
    padding-left: 50px;
  }
  div.top-mob-footer {
    padding-top: 24px;
    padding-bottom: 10px;
  }
  img.contact-logo {
    height: 20px;
    margin-right: 5px;
  }
  p.confirm {
    padding-left: 10px;
    font-size: 14px;
  }
  div.specs-right {
    padding-left: 0;
  }
  div.box-right {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  img.car-img {
    padding-left: 38px;
  }
  section.hero {
    height: auto;
    display: flex;
    justify-content: center;
  }
  div.modal {
    margin-top: 20px;
  }
  button.facebook-button,
  button.google-button {
    font-size: 10px;
    width: 230px;
  }
  button.yellow {
    width: 100%;
  }
  div.date-time-form {
    display: block;
  }
  input.time {
    margin-left: 0;
  }
  label {
    margin-left: 0;
    margin-bottom: 10px;
  }
  div.location {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p.subtitle {
    margin-bottom: 30px;
  }
  div.select {
    padding-bottom: 20px;
  }
  select {
    width: 220px;
    padding: 10px;
  }

  div.pickup-date-picker {
    margin-right: 0;
  }
  body.hero {
    height: auto;
  }
  div.confirmation-box {
    display: block;
  }
}
@import url("https://fonts.googleapis.com/css?family=Oswald");

* {
  overflow: hidden;
}

html {
  overflow: scroll;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f5f6;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body.hero {
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-image: url("img/background.jpg");
  background-size: cover;
}

header {
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.logo-car {
  width: 180px;
  padding-left: 100px;
}

div.header-nav {
  display: flex;
  min-width: 600px;
  flex-flow: row-reverse;
  margin-right: 100px;
}

footer {
  width: 100%;
  height: 110px;
  background-color: white;

  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.wrapper {
  min-height: calc(100vh - 10px);
}

.nav {
  text-transform: uppercase;
  font-size: 14px;
  padding: 30px;
  cursor: pointer;
}

.white-text {
  margin-bottom: 10px;
}
.contact-text {
  margin-left: 32px;
}

.social {
  display: flex;
  justify-content: space-between;
}
.nav:active,
.nav:hover,
.active,
.yellow-text {
  color: #ffda42;
}

section {
  margin: 40px 50px;
}

section.hero {
  height: 100vw;
  display: flex;
  justify-content: center;
}

div.modal {
  text-align: center;
  max-width: 400px;
  max-height: 400px;
  margin-top: 70px;
  background-color: white;
  padding: 24px 24px 48px;
}

button.basic,
button {
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-top: 20px;
  height: 48px;
  width: 304px;
  font-weight: 700;
  font-size: 13px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  outline: none;
  cursor: pointer;
}

button.small {
  margin-top: 20px;
  height: 45px;
  width: 80%;
  max-width: 170px;
  font-weight: 700;
  font-size: 13px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  outline: none;
  cursor: pointer;
}

button.new-booking {
  width: 290px;
  font-size: 13 px;
  margin: 0 auto;
}

button.continue {
  margin-top: 30px !important;
  width: 290px;
}

button.facebook-button {
  background-color: #3c5a99;
  color: white;
}

button.google-button {
  border: 1px solid #99999999;
  margin-bottom: 35px;
}

img.logo {
  width: 30px;
}

img.google-logo {
  margin-right: 3px;
}

.modal-inner {
  width: 100%;
}

h4 {
  text-align: center;
  margin: 20px 0;
}

.reservationBox {
  padding-bottom: 25px !important;
  margin-bottom: 20px;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  border: 1px solid #ffda42;
}

.contentBox {
  width: 100%;
  height: 100%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
img.logo-payment{
  width: 52px
}
.filter {
  background: #fff;
  padding: 20px;
}
button.payment-option{
  background-color: #ffda42;
}

h4:before,
h4:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h4:before {
  right: 0.5em;
  margin-left: -50%;
}

h4:after {
  left: 0.5em;
  margin-right: -50%;
}

div.form {
  display: flex;
  flex-direction: column;
}

i {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
}

p.login {
  margin-right: 37px;
}

label.login {
  font-size: 13px;
  font-weight: bold;
}

input {
  font-size: 16px;
  margin-bottom: 17px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: 1px solid;
  padding: 0.47058824rem 0.70588235rem;
  border-color: #858585 #c2c2c2 #c2c2c2;
  background: #fff;

  line-height: 23px;
  cursor: text;
  outline: none;
}

button.yellow {
  margin-top: 15px;
  background: #ffda42;
  transition: all 250ms;
  border: none;
}


.divider {
  margin-bottom: 12px;
}

h1.title {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 300;
}

p.subtitle {
  font-weight: 100;
  margin-bottom: 20px;
}
p.thin {
  font-weight: 100;
  margin-bottom: 20px;
}

div.date-time-form {
  display: flex;
}

.pickup-date-picker {
  margin-right: 70px;
}

input.date {
  font-size: 16px;
  margin-top: 10px;
  width: 200px;
  text-indent: 17px;
  background-image: url(img/calendar-icon.png);
  background-repeat: no-repeat;
  background-position: 7px 7px;
}

input.time {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 20px;
  width: 150px;
  text-indent: 17px;
  background-image: url(img/time-icon.png);
  background-repeat: no-repeat;
  background-position: 7px 7px;
}

a {
  color: black;
  text-decoration: none;
}

.location {
  margin-top: 40px;
  display: flex;
  margin-bottom: 50px;
}

div.select {
  display: grid;
  margin-right: 50px;
}

select {
  -webkit-appearance: none;
  width: 300px;
  text-indent: 19px;
  background-image: url(img/location.png);
  background-repeat: no-repeat;
  background-position: 7px 5px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  border: 1px solid;
  padding: 0.47058824rem 0.70588235rem;
  border-color: #858585 #c2c2c2 #c2c2c2;
  background-color: white;
  font-size: 16px;
  line-height: 23px;
  cursor: text;
  outline: none;
}

.bookingInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 20px;
}
.bookingInfoDisplay {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h5 {
  color: #616161;
}
h5.confirm-title {
  font-size: 14px;
}

.carBox {
  background-color: #fff;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 200px;
}
.carBoximg {
  width: 100%;
  height: auto;
}
.carInfoImg {
  width: 100%;
}

footer.contact-us {
  display: flex;
  justify-content: space-around;
}
.select {
  margin-top: 0px;
}

img.contact-logo {
  height: 20px;
  margin-right: 10px;
}
.InfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.car {
  background-color: #fff;
  padding: 3%;
}
.description {
  padding-top: 0px;
}
div.box {
  background: white;
  display: flex;
  justify-content: space-between;
}
img.car-img {
  padding-top: 40px;
  width: 180px;
}

div.confirmation-box {
  padding-bottom: 5px;

  display: flex;
  justify-content: space-evenly;
}
.box-left {
  background: white;
  padding-top: 30px;
  min-width: 70%;
}
.box-right {
  padding-top: 60px;
  background: white;
  min-width: 20%;
}
.payment-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  padding: 40px;
}
div.payment-option-box{
  background-color: #fff;
  padding:20px;
}
@media (max-width: 1100px) {
  .payment-overview {
    display: none;
  }
}
.payment-overview {
  border: 1px solid #ffda42;
  width: 23%;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 30px;
}
.payment-form {
  background-color: #fff;
  padding: 20px;
  widows: 35%;
  display: grid;
}
.payment-p {
  padding-bottom: 10px;
  font-size: 14px;
}
.expiration {
  width: 100px;
}
.cvv {
  width: 60px;
}
.middle {
  margin: 0 auto;
}
.form-item {
  display: inline-grid;
}
.specs-right {
  padding-left: 40px;
}
div.inner-box {
  display: flex;
}
h5 {
  font-size: 16px;
  padding-bottom: 10px;
}

.confirm {
  margin-bottom: 5px;
  padding-left: 30px;
}
.icon {
  margin-right: 10px;
}

img.cart {
  padding-left: 35px;
  padding-right: 10px;
  width: 25px;
}
.loc-icon {
  width: 20px;
}
.specificationss {
  margin-top: 20px;
  margin-bottom: 20px;
}
.specification-car {
  display: inline-flex;
}
.specification-car p {
  margin-top: 20px;
}
.car-box {
  padding-top: 24px;
}
.specification {
  padding-top: 65px;
}
.price-overview {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
}
div.flexTemplate2{
  display: flex;
  justify-content: space-evenly;
}
p.price {
  padding-top: 10px;
}
.up {
  display: flex;
  justify-content: space-evenly;
}
.bottom {
  text-align: center;
  padding-bottom: 25px;
  padding-left: 25px;
}
.specs {
  margin-left: 5px;
  margin-right: 25px;
}
.hidden {
  display: none!important;
}
#new-date-time-repeat{
justify-content: space-around;
padding-top:20px; 
}
.small {
  font-size: 13px;
}
.total {
  padding-right: 20px;
}
hr {
  width: 75%;
}

img.contact-logo {
  height: 26px;
  margin-right: 7px;
}
p.descriptionText {
  text-align: justify;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  margin-top: 20px;
}
.priceBox {
  background-color: #f4f5f6;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 15px;
  max-width: 200px;
}
.flexTemplate {
  display: flex;
  justify-content: space-around;
}
.carInfoRightContainer {
  padding: 5%;
}
.gridTemplate {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checked {
  color: #ffda42;
}

.stars {
  margin-top: 20%;
  margin-bottom: 5%;
}
.extras {
  background-color: #fff;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.extrasContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.past-bookings-wrapper {
  background-color: #fff;
}
img.car-img-prev {
  width: 187px;
}

div.previous-box {
  display: flex;
  justify-content: space-between;    
  padding: 30px;
}

.extrasImg {
  width: 30%;
  margin: 20px;
}
.extraBox {
  border-radius: 3px;
  text-align: center;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.car {
  background-color: #fff;
}
.centeredBox {
  background-color: #fff;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}
button.select {
  margin: 0;
}
button.duplicate{
    width:150px;

}
button:hover{
    transform:scale(1.1,1.1);background-color: #ffcc00
    
  }
div.dupl-button{
    margin: auto 0;
}
.congrats {
  text-align: center;
  margin-top: 10px;
  line-height: 40px;
  margin-bottom: 0px;
}
div.past-bookings-wrapper{
    margin-top: 20px;
}

@media screen and (min-width: 900px) {
  .absolute {
    position: absolute;
  }
  #mobile-menu {
    display: none !important;
  }
  div.mobile-footer {
    display: none;
  }
}
/*---------------------------------------------------------------------- MOBILE */

@media screen and (max-width: 480px) {
  section {
    margin: 50px 20px;
  }
  .gridTemplate {
    grid-template-columns: 1fr;
  }
  .flexTemplate {
    display: block;
  }
  div.flexTemplate2{
    display: block;
   
  }
  .InfoContainer {
    grid-template-columns: 1fr;
  }
  .specificationss {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .priceBox {
    margin: 10px;
  }
  button.select {
    margin-top: 15px;
  }
  div.extrasContainer {
    grid-template-columns: 1fr;
  }
  .extras {
    margin: 0px;
  }


  .extraBox {
    margin: 0px;
  }
  button.payment-option{
    width:100%
  }
  .centeredBox {
    display: block;
    text-align: center;
  }
  button.yellow {
    width: 100%!important;
  }
  p.subtitle {
    font-size: 15px;
  }
  .congrats {
    line-height: 30px;
  }
  div.confirmation-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/*--------------------------------------------------------------Tablet */
@media (max-width: 900px) {
  .social-div {
    display: none;
  }

div.previous-box{
  display: block
}

  section {
    margin: 50px 10px;
  }
  .carBox {
    grid-template-columns: 1fr;
  }
  .contentBox {
    grid-template-columns: 1fr;
  }
  .carBox {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
  }

  header {
    display: none !important;
  }

  .sidenav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    /* Black*/
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.2s;
    text-align: center;
  }

  .sidenav a:hover {
    color: #ffda42;
  }

  .nav-links {
    margin-top: 150px;
  }

  div.hidden {
    display: none!important;
  }
.show{
  display: "block"!important
}
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    padding: 10px 25px;
  }

  #openNav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 25px;
    font-size: 25px;
    z-index: 1;
  }
  a.active {
    color: #ffda42;
  }
  div.confirm-content {
    display: block;
  }

  .extrasContainer {
    grid-template-columns: 1fr 1fr;
  }
  .extraBox {
    margin-top: 20px;
  }
  p.subtitle {
    margin-bottom: 0px;
  }
  footer.contact-us {
    display: block;
  }
  div.phone,
  div.e-mail {
    display: none;
  }
  div.mobile-footer {
    display: inline-flex;
    align-items: baseline;
    padding-left: 50px;
  }
  div.top-mob-footer {
    padding-top: 24px;
    padding-bottom: 10px;
  }
  img.contact-logo {
    height: 20px;
    margin-right: 5px;
  }
  p.confirm {
    padding-left: 10px;
    font-size: 14px;
  }
  div.specs-right {
    padding-left: 0;
  }
  div.box-right {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  section.hero {
    height: auto;
    display: flex;
    justify-content: center;
  }
  div.modal {
    margin-top: 20px;
    padding-bottom: 66px;
  }
  button.facebook-button,
  button.google-button {
    font-size: 10px;
    width: 230px;
  }
  button.yellow {
    width: 150px;
  }
  div.date-time-form {
    display: block;
  }
  #new-date-time-repeat{

    padding-left: 30px;
    }
  input.time {
    margin-left: 0;
  }
  label {
    margin-left: 0;
    margin-bottom: 10px;
  }
  div.location {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p.subtitle {
    margin-bottom: 30px;
  }
  div.select {
    padding-bottom: 20px;
  }
  select {
    width: 220px;
    padding: 10px;
  }

  div.pickup-date-picker {
    margin-right: 0;
  }
  body.hero {
    height: auto;
  }
  div.confirmation-box {
    display: block;
  }
  div.car-box {
    text-align: center;
  }
  div.specification-car {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  div.payment-box{
    display: block;
    margin:10px;
    padding: 0px
  }
 
  img.logo-paymen{
    width:30px
  }
}
